
__pycache__/

.idea/

sampleSpectra.npy

origResults.txt

Sample Spectra/

cythonModules/build/

cythonModules/corrCoeff.c

cythonModules/corrCoeff.cp38-win_amd64.pyd

cythonModules/corrCoeff.html

SQLCredentials.txt

TestData/testAssignments.txt

TestData/testSpectra.npy

TestData/testTypes.txt

Reference Spectra Plastic/

MachineLearning/Denoiser.model/
